html {
  height: 100%;
  width: 100%;
}

:root {
  --color-bg: #fff;
  --color-text: #000;
  --color-btn-bg: #1E90FF;
  --color-btn-fg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #2b2b2b;
    --color-text: #fff;
    --color-btn-bg: #1E90FF;
    --color-btn-fg: #fff;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

a {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: var(--color-btn-bg);
  color: var(--color-btn-fg);
  border: none;
  cursor: pointer;
  border-radius: 100px;
}
